*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.container{
  max-width: 1400px;
  margin: 0 auto;
}
img{
  max-width: 100%;
  vertical-align: top;
  padding: 15px;
}
.slick-next:before, .slick-prev:before{
  color: red;
}